@model WebProjVet.Models.AnimaisServicos

@{
    ViewData["Title"] = "Edit";
}

<form asp-action="EditLancamentoServico">
    @Html.AntiForgeryToken()
    <div class="container" style="padding-top:50px">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <h3 class="text-center">SERVIÇO REALIZADO</h3>
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="hidden" asp-for="Id" id="idAnimaisServicos">
                                <input type="hidden" asp-for="AnimaisId" id="idAnimais">
                                <input type="hidden" asp-for="ServicoId" id="idServicos">
                                <input type="hidden" value="@ViewBag.TipoAnimal" id="idAnimalTipo">                               
                            </div>
                        </div>
                        <div class="row" style="padding-top:20px">
                            <div class="col-lg-4">
                                <label class="control-label">SERVIÇO</label>
                                <select disabled id="sltServico" asp-for="ServicoId" class="form-control" onchange="getValorServico()"
                                        asp-items="@(new SelectList(ViewBag.ServicoId, "Id", "Nome")) ">
                                    <option selected="selected" value="">SELECIONE</option>
                                </select>
                            </div>

                            <div class="col-lg-2">
                                <label class="control-label">QUANTIDADE</label>
                                <input id="txtQuantidade" class="form-control text-right" asp-for="Quantidade" />
                                <span id="spanQuantidade" class="text-danger"></span>
                            </div>
                            <div class="col-lg-2">
                                <label asp-for="Valor" class="control-label"></label>
                                <input id="txtValor" asp-for="Valor" class="form-control text-right" />
                                <span asp-validation-for="Valor" class="text-danger"></span>
                                <input style="display:none" id="txtValorOriginal" asp-for="ValorOriginal" class="form-control text-right" />
                            </div>
                            <div class="col-lg-2">
                                <label class="control-label">VALOR TOTAL</label>
                                <input id="txtValorTotal" class="form-control text-right" asp-for="ValorTotal" readonly="readonly" />
                                <span id="spanValorTotal" class="text-danger"></span>
                            </div>

                            
                            <div class="col-lg-2">
                                <label asp-for="Data" class="control-label"></label>
                                <input type="date" asp-for="Data" class="form-control" />
                                <span asp-validation-for="Data" class="text-danger"></span>
                            </div>                            
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div id="divDoadora" class="col-lg-4">
                                <label class="control-label">DOADORA</label>
                                <select id="sltDoadora" class="form-control" asp-for="DoadoraId"
                                        asp-items="@(new SelectList(ViewBag.DoadoraId, "Id", "Nome"))">
                                    <option selected="selected" value="">NÃO INFORMADO</option>
                                </select>
                                <span class="text-danger"></span>
                            </div>
                            <div id="divGaranhao" class="col-lg-4">
                                <label class="control-label">GARANHÃO</label>
                                <select id="sltGaranhao" class="form-control" asp-for="GaranhaoId"
                                        asp-items="@(new SelectList(ViewBag.GaranhaoId, "Id", "Nome"))">
                                    <option selected="selected" value="">NÃO INFORMADO</option>
                                </select>
                                <span class="text-danger"></span>
                            </div>
                            <div id="divReceptora" class="col-lg-4">
                                <label class="control-label">RECEPTORA</label>
                                <select id="sltReceptora" class="form-control" asp-for="ReceptoraId"
                                        asp-items="@(new SelectList(ViewBag.ReceptoraId, "Id", "Nome"))">
                                    <option selected="selected" value="">NÃO INFORMADO</option>
                                </select>
                                <span class="text-danger"></span>
                            </div>
                            <div id="divSemen" class="col-lg-4">
                                <label class="control-label">SÉMEN</label>
                                <select id="sltSemen" class="form-control" asp-for="SemenId"
                                        asp-items="@(new SelectList(ViewBag.SemenId, "Id", "Nome"))">
                                    <option selected="selected" value="">NÃO INFORMADO</option>
                                </select>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-lg-2">
                                <label asp-for="ServicoSituacao" class="control-label"></label>
                                <select id="servicoSituacao" asp-for="ServicoSituacao" asp-items="Html.GetEnumSelectList<ServicoSituacao>()" class="form-control">
                                    <option selected="selected" value="">SELECIONE</option>
                                </select>
                            </div>
                            <div class="col-lg-2">
                                <label asp-for="DataCancelamento" class="control-label"></label>
                                <input type="date" asp-for="DataCancelamento" class="form-control" readonly="readonly" />
                                <span asp-validation-for="DataCancelamento" class="text-danger"></span>
                            </div>
                        </div>
                        <div id="divMotivo" class="row" style="padding-top:20px">
                            <div class="col-lg-12">
                                <label asp-for="Motivo" class="control-label"></label>
                                <input id="txtMotivo" asp-for="Motivo" class="form-control" />
                                <span asp-validation-for="Motivo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="REGISTRAR" class="btn btn-success btn-lg btn-block" />
            </div>
        </div>
        <div class="row" style="padding-top:10px">
            <div class="col-md-12">
                <a asp-action="Edit" asp-controller="Animal" asp-route-id="@Model.AnimaisId" class="btn btn-info btn-lg btn-block">VOLTAR</a>
            </div>
        </div>
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        //Exemplo de execução através do evento onchange do select
        //<select id="sltServico" class="form-control" onchange="getValorServico()"
        function getValorServico() {

            var idServico = '1';
            var dpl = document.getElementById("sltServico");

            $.ajax({
                type: 'GET',
                url: '/api/Servico/getvalor/' + dpl.value,
                success: function (result) {
                    var servicoValor = result.valor;

                    //$('#resultGetValor').html(servicoValor);
                    $('#txtValor').val(servicoValor.toFixed(2).replace('.', ','));
                    //$('#txtValor').val(servicoValor.toLocaleString("pt-BR", { style: "currency", currency: "BRL" }).replace('R$', ''));

                    //toLocaleString("pt-BR", { style: "currency", currency: "BRL" })
                    $('#txtValorOriginal').val(servicoValor);
                }

            });

            //alert(dpl.value);


        }
    </script>

    <script>
        $('#btnAddServico').click(function () {

            $('#resultAddServico').empty();

            var animaisId = $('#idAnimais').val();
            var CodigoServico = document.getElementById("sltServico");

            var obj = {};
            obj.AnimaisId = $("#idAnimais").val();
            obj.ServicoId = $("#sltServico").val();
            obj.Valor = $("#txtValor").val().replace(",", ".");
            obj.Data = $("#txtData").val();
            obj.ValorOriginal = $("#txtValorOriginal").val().replace(",", ".");

            if (CodigoServico.options[CodigoServico.selectedIndex].text != 'SELECIONE')

                $.ajax({
                    type: 'POST',
                    url: '/api/Animal/AddServico/' + animaisId,
                    data: JSON.stringify(obj),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $('#resultAddServico').empty();

                        if (result == 'NOVO')

                            location.reload();

                        else {
                            $('#resultAddServico')
                                .html('Ocorreu um erro! Tente novamente.');

                        };

                    }

                });

            else {
                $('#resultAddServico')
                    .html('Selecione um Serviço!');
            };

        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script>
        //https://www.blogson.com.br/como-formatar-campos-de-cpf-cep-telefone-e-moeda-com-jquery-jmask/
        //https://igorescobar.github.io/jQuery-Mask-Plugin/
        $(document).ready(function () {
            $("#txtValor").keypress(function () {

                $(this).mask("000000000000000.00", { reverse: true });
            });


            //Trata exibição das divs para o processo de cancelamento
            if ($("#servicoSituacao :selected").val() == "1") {
                //Desabilitar motivo
                $("#divMotivo").show()
            } else {
                $("#divMotivo").hide()
            }

            var animalTipo = $("#idAnimalTipo").val();
            //alert("animal tipo" + animalTipo)


            var divDoadora = $("#divDoadora");
            var divGaranhao = $("#divGaranhao");
            var divReceptora = $("#divReceptora");
            var divSemen = $("#divSemen");

            //alert(animalTipo)

            if (animalTipo == "1") {
                divDoadora.prop('hidden', true);
            }

            if (animalTipo == "2") {
                divGaranhao.prop('hidden', true);
            }

            if (animalTipo == "3") {
                divReceptora.prop('hidden', true);
            }

            if (animalTipo == "4") {
                divSemen.prop('hidden', true);
            }


        });
    </script>

    <script>
        $("#servicoSituacao").change(function () {
            var situacao = $("#servicoSituacao :selected").val();

            if (situacao == "1") {
                //Desabilitar motivo
                $("#divMotivo").show()

            } else {
                $("#divMotivo").hide()
            }

        });
    </script>

    <script>
        //https://stackoverflow.com/questions/15163570/how-can-i-change-all-input-values-to-uppercase-using-jquery
        $(document).on('blur', "input[type=text]", function () {
            $(this).val(function (_, val) {
                return val.toUpperCase();
            });
        });
    </script>

}
