@model WebProjVet.Models.Proprietario
@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit">
    <div class="container" style="padding-top:50px">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <h3 class="text-center">PROPRIETÁRIO</h3>
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="hidden" asp-for="Id" id="idRegistro">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <label asp-for="PessoaTipo" class="control-label"></label>
                                <select id="idTipo" asp-for="PessoaTipo" asp-items="Html.GetEnumSelectList<PessoaTipo>()" class="form-control">
                                    <option selected="selected" value="">SELECIONE</option>
                                </select>
                                <span asp-validation-for="PessoaTipo" class="text-danger"></span>
                            </div>
                            <div class="col-lg-3">
                                <label asp-for="Documento" class="control-label"></label>
                                <input id="cpfcnpj" asp-for="Documento" type="text" class="form-control" />
                                <span asp-validation-for="Documento" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                            <div class="col-lg-4">
                                <input type="hidden" asp-for="Id" id="idTratamento">
                            </div>
                        </div>
                        <div id="juridica" class="row" style="padding-top:10px">
                            <div class="col-lg-5">
                                <label asp-for="RazaoSocial" class="control-label"></label>
                                <input asp-for="RazaoSocial" id="razaoSocial" class="form-control" />
                                <span asp-validation-for="RazaoSocial" class="text-danger"></span>
                            </div>
                            <div class="col-lg-3">
                                <label asp-for="InscricaoEstadual" class="control-label"></label>
                                <input asp-for="InscricaoEstadual" id="inscricaoEstadual" class="form-control" />
                                <span asp-validation-for="InscricaoEstadual" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-lg-4">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-lg-3">
                                <label asp-for="Telefone" class="control-label"></label>
                                <input asp-for="Telefone" class="form-control" />
                                <span asp-validation-for="Telefone" class="text-danger"></span>
                            </div>
                            <div class="col-lg-4">
                                <label asp-for="Situacao" class="control-label"></label>
                                <select asp-for="Situacao" asp-items="Html.GetEnumSelectList<Situacao>()" class="form-control">
                                    <option selected="selected" value="">SELECIONE</option>
                                </select>
                                <span asp-validation-for="Situacao" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Localidades/Endereços*@
    @*https://getbootstrap.com/docs/4.0/components/collapse/*@
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <button class="btn btn-warning col-lg-12" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                                data-placement="top" title="Clique em ENDEREÇOS para visualizar e realizar o processo de inclusão de endereços.">
                                            LOCALIDADES
                                        </button>
                                        <small class="form-text text-muted">Clique em LOCALIDADES para visualizar registros e realizar o processo de inclusão de informações para cada localidade.</small>
                                    </div>
                                </div>
                                <div class="row" style="padding-top:20px">
                                    <div class="col-lg-12">
                                        <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <textarea asp-for="TabelaItensEnderecoJson" style="display:none" id="tabelaItensEnderecoJson"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="panel panel-default panel-table">
                                                        <div class="panel-heading">
                                                            <div class="row">
                                                                <div class="col-lg-2">
                                                                    <label asp-for="EnderecoTipo" class="control-label"></label>
                                                                    <select id="sltTipoEndereco" asp-for="EnderecoTipo" asp-items="Html.GetEnumSelectList<EnderecoTipo>()" class="form-control">
                                                                        <option selected="selected" value="">SELECIONE</option>
                                                                    </select>
                                                                    <span id="spaTipoEndereco" class="text-danger"></span>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <label class="control-label">NOME LOCALIDADE</label>
                                                                    <input type="text" id="txtLocalNome" class="form-control" />
                                                                    <span id="spaLocalNome" class="text-danger"></span>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label class="control-label">ENDEREÇO</label>
                                                                    <input type="text" id="txtEndereco" class="form-control" />
                                                                    <span id="spaEndereco" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="padding-top:10px">
                                                                <div class="col-lg-4">
                                                                    <label class="control-label">BAIRRO</label>
                                                                    <input type="text" id="txtBairro" class="form-control" />
                                                                    <span id="spaBairro" class="text-danger"></span>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <label class="control-label">COMPLEMENTO</label>
                                                                    <input type="text" id="txtComplemento" class="form-control" />
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <label class="control-label">CIDADE</label>
                                                                    <input type="text" id="txtCidade" class="form-control" />
                                                                    <span id="spaCidade" class="text-danger"></span>
                                                                </div>
                                                                <div class="col-lg-1">
                                                                    <label class="control-label">UF</label>
                                                                    <input type="text" id="txtUf" class="form-control" />
                                                                    <span id="spaUf" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="padding-top:10px">
                                                                <div id="divCpfCnpj" class="col-lg-3">
                                                                    <label class="control-label">CPF/CNPJ</label>
                                                                    <input type="text" id="txtLocalCpfCnpj" class="cpfOuCnpj form-control" />
                                                                    <span id="spaLocalCpfCnpj" class="text-danger"></span>
                                                                </div>
                                                                <div id="divInscEstadual" class="col-lg-3">
                                                                    <label class="control-label">INSCRIÇÃO ESTADUAL</label>
                                                                    <input id="txtLocalInscEstadual" class="form-control" />
                                                                    <span id="spaLocalInscEstadual" class="text-danger"></span>
                                                                </div>
                                                                <div id="divCodigoRural" class="col-lg-2">
                                                                    <label class="control-label">CÓDIGO RURAL</label>
                                                                    <input type="text" id="txtLocalCodigoRural" class="form-control" />
                                                                    <span id="spaLocalCodigoRural" class="text-danger"></span>
                                                                </div>
                                                                <div class="col-lg-3 pull-right form-inline">
                                                                    <br />
                                                                    <input id="btnAddEndereco" type="button" value="ADICIONAR ENDEREÇO" class="btn btn-primary btn-block"
                                                                           data-toggle="tooltip" data-placement="top" title="Clique em ADICIONAR para registrar o novo endereço." />
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <span id="resultAddTabelaEndereco" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel-body">
                                                            <table id="itensTabelaEndereco" class="table table-striped table-bordered table-list">
                                                                <thead>
                                                                    <tr>
                                                                        <th>ID</th>
                                                                        <th>TIPO</th>
                                                                        <th>ENDEREÇO</th>
                                                                        <th>BAIRRO</th>
                                                                        <th>COMPLEMENTO</th>
                                                                        <th>CIDADE</th>
                                                                        <th>UF</th>
                                                                        <th><em class="fa fa-cog"></em></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="listaTbodyEndereco">
                                                                    <!--Lista dos serviços cadastrados -->
                                                                    <!--https://stackoverflow.com/questions/14165632/asp-net-mvc-4-for-loop-posts-model-collection-properties-but-foreach-does-not-->
                                                                    @foreach (var item in Model.ProprietarioEnderecos)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Id)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.EnderecoTipo)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Endereco)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Bairro)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Complemento)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Cidade)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Uf)
                                                                            </td>
                                                                            <td align="center" style="display:inline-block">
                                                                                <a asp-action="EditEndereco" asp-route-id="@item.Id" class="btn btn-primary btn-xs"><em class="glyphicon glyphicon-pencil"></em> </a>
                                                                                <a asp-action="DeleteEndereco" asp-route-id="@item.Id" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="REGISTRAR" class="btn btn-success btn-lg btn-block" />
            </div>
        </div>
        <div class="row" style="padding-top:10px">
            <div class="col-md-12">
                <a asp-action="Index" class="btn btn-info btn-lg btn-block">VOLTAR</a>
            </div>
        </div>
    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <script>
        function validaAddEndereco() {

            var tipo = $("#sltTipoEndereco :selected").text();
            var endereco = $("#txtEndereco").val();
            var bairro = $("#txtBairro").val();
            var cidade = $("#txtCidade").val();
            var uf = $("#txtUf").val();

            var nome = $("#txtLocalNome").val();
            var cpfcnpj = $("#txtLocalCpfCnpj").val();
            var codigoRural = $("#txtLocalCodigoRural").val();

            if (tipo == "SELECIONE") {
                $("#spaTipoEndereco").html("Selecione um Tipo!");
                return false;
            } else if (nome == "") {
                $("#spaLocalNome").html("Informe um Nome!");
                return false;
            } else if (endereco == "") {
                $("#spaEndereco").html("Informe um Endereço!");
                return false;
            } else if (bairro == "") {
                $("#spaBairro").html("Informe um Bairro!");
                return false;
            } else if (cidade == "") {
                $("#spaCidade").html("Informe uma Cidade!");
                return false;
            } else if (uf == "") {
                $("#spaUf").html("Informe uma UF!");
                return false;

            } else if (tipo == "COMERCIAL" && cpfcnpj == "") {
                $("#spaLocalCpfCnpj").html("Informe um CPF/CNPJ!");
                return false;

            } else if (tipo == "RURAL" && cpfcnpj == "") {
                $("#spaLocalCpfCnpj").html("Informe um CPF/CNPJ!");
                return false;

            } else if (tipo == "RURAL" && codigoRural == "") {
                $("#spaLocalCodigoRural").html("Informe um Código Rural!");
                return false;

            } else if (tipo == "RURAL" && cpfcnpj == "") {
                $("#spaLocalCpfCnpj").html("Informe um CPF/CNPJ!");
                return false;

            } else {
                return true;
            }

        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script>
        //https://www.blogson.com.br/como-formatar-campos-de-cpf-cep-telefone-e-moeda-com-jquery-jmask/
        $(document).ready(function () {

            var tipo = $("#idTipo :selected").text();

            if (tipo == 'FÍSICA') {
                $('#juridica').hide();

            } else if (tipo == 'JURÍDICA') {
                $('#juridica').show();

            }

        });
    </script>

    <script>
        $("#cpfcnpj").keypress(function () {

            var tipo = $("#idTipo option:selected").text();

            if (tipo == 'FÍSICA') {
                $(this).mask('000.000.000-00');

            } else if (tipo == 'JURÍDICA') {
                $(this).mask('00.000.000/0000-00');
            }


        });
    </script>

    <script>
        //Força a máscara no momento da saída do campo
        $("#cpfcnpj").blur(function () {

            var tipo = $("#idTipo :selected").text();

            if (tipo == 'FÍSICA') {
                $(this).mask('000.000.000-00');

            } else if (tipo == 'JURÍDICA') {
                $(this).mask('00.000.000/0000-00');
            }


        });
    </script>

    <script>
        $('#idTipo').change(function () {
            var tipo = $("#idTipo :selected").text();

            if (tipo == 'FÍSICA') {
                $('#juridica').hide();

            } else if (tipo == 'JURÍDICA') {
                $('#juridica').show();

            }
        });
    </script>

    <script>
        $('#btnAddEndereco').click(function () {

            $('#spaTipoEndereco').empty();
            $('#spaEndereco').empty();
            $('#spaBairro').empty();
            $('#spaCidade').empty();
            $('#spaUf').empty();

            $('#spaLocalNome').empty();
            $('#spaLocalCpfCnpj').empty();
            $('#spaLocalCodigoRural').empty();

            $('#resultAddTabelaEndereco').empty();

            var validacao = validaAddEndereco();

            var idRegistro = $('#idRegistro').val();


            var obj = {};
            obj.EnderecoTipo = $("#sltTipoEndereco").val();
            obj.Endereco = $("#txtEndereco").val();
            obj.Bairro = $("#txtBairro").val();
            obj.Complemento = $("#txtComplemento").val();
            obj.Cidade = $("#txtCidade").val();
            obj.UF = $("#txtUf").val();
            obj.ProprietarioId = $("#idRegistro").val();

            obj.CodigoRural = $("#txtLocalCodigoRural").val();
            obj.Documento = $("#txtLocalCpfCnpj").val();
            obj.InscricaoEstadual = $("#txtLocalInscEstadual").val();
            obj.Nome = $("#txtLocalNome").val();


            if (validacao == true) {

                $.ajax({
                    type: 'POST',
                    url: '/api/Proprietario/AddEnderecoTable/' + idRegistro,
                    data: JSON.stringify(obj),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $('#resultAddTabelaEndereco').empty();

                        if (result == 'NOVO')

                            location.reload();

                        else {
                            $('#resultAddTabelaEndereco')
                                .html('O Tipo de endereço selecionado já está associado ao Proprietário! Selecione outro tipo de endereço!');
                        };

                    }

                });

            }

        });

    </script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>


    <script>
        var options = {
            onKeyPress: function (cpf, ev, el, op) {
                var masks = ['000.000.000-000', '00.000.000/0000-00'];
                $('.cpfOuCnpj').mask((cpf.length > 14) ? masks[1] : masks[0], op);
            }
        }

        $('.cpfOuCnpj').length > 11 ? $('.cpfOuCnpj').mask('00.000.000/0000-00', options) : $('.cpfOuCnpj').mask('000.000.000-00#', options);
    </script>

    <script>
        $('#sltTipoEndereco').change(function () {
            var tipo = $("#sltTipoEndereco :selected").text();

            if (tipo == 'RURAL') {
                $('#divCodigoRural').show();
                $('#txtLocalCodigoRural').val('');

                $('#divCpfCnpj').show();
                $('#txtLocalCpfCnpj').val('');

                $('#divInscEstadual').show();
                $('#txtLocalInscEstadual').val('');

            } else if (tipo == 'COMERCIAL') {
                $('#divCodigoRural').hide();
                $('#txtLocalCodigoRural').val('');

                $('#divCpfCnpj').show();
                $('#txtLocalCpfCnpj').val('');

                $('#divInscEstadual').show();
                $('#txtLocalInscEstadual').val('');

            } else if (tipo == 'RESIDENCIAL') {
                $('#divCodigoRural').hide();
                $('#txtLocalCodigoRural').val('');

                $('#divCpfCnpj').hide();
                $('#txtLocalCpfCnpj').val('');

                $('#divInscEstadual').hide();
                $('#txtLocalInscEstadual').val('');
            }
        });
    </script>

    <script>
        //https://stackoverflow.com/questions/15163570/how-can-i-change-all-input-values-to-uppercase-using-jquery
        $(document).on('blur', "input[type=text]", function () {
            $(this).val(function (_, val) {
                return val.toUpperCase();
            });
        });
    </script>

}
